.tag-list {
    font-family: "Roboto", sans-serif !important;
    border-bottom: 1px solid var(--global-divider-color);
    text-align: center;
    padding-top: 2rem !important;
    padding-bottom: 0.5rem !important;
    border-top: none;
    border-bottom: none;
}

.tag-list ul {
    justify-content: center;
    display: flow-root;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.tag-list ul li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    float: left;
    color: var(--global-text-color-light);

    .selected {
        background-color: grey;
        color: white;
    }
}

.tag-list ul li a {
    display: block;
    padding: 10px;
    border-bottom-color: #dddddd;
}

.blog-list {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: none !important;
}

.blog-list ul{
    font-size: 17px;
    margin-bottom: 0 !important;
}

.blog-list li {
    list-style-type: none;
    border-bottom: 1px solid darkgray;
    padding-top: 1rem;
    padding-left: 0 !important;
}

.blog-list p {
    margin-bottom: -1rem;
}

.blog-list li a:hover {
    color: var(--global-theme-color);
}

.post-meta {
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
}
