.blog-title {
    font-family: "Roboto", sans-serif !important;
    padding: 2rem 4rem 1rem 4rem !important;
}

.blog-title h2{
    text-transform: none;
}

.blog-post {
    padding-top: 1rem !important;
    font-family: "Roboto", sans-serif !important;
    line-height: 28px;
    position: relative;
}

.blog-post p {
    margin: 0 0 0 0 !important;
}

.blog-post h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem !important;
}

.post-meta {
    font-size: 15px;
}

.image-with-line {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.image-with-line .vertical-line {
    border-right: 3px solid #747474;
    height: 200px;
    padding-left: 20px;
    right: 0;
    top: 0;
}

.image-with-line img {
    max-width: 300px;
    height: auto;
}

.image-with-line .text-container {
    padding-left: 20px;
    font-size: large;
}