.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    flex: 0 0 calc(33.33% - 10px);
    margin-bottom: 2px;
}

@media (max-width: 768px) {
    .project {
        flex: 0 0 calc(100% - 10px);
    }
}
