img {
    width: 508px;
    height: 310px;
}

.text-overlay {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8); /* Grey with some transparency */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
    text-align: center;
    color: #fff; /* Text color */
}

.text-overlay p {
    margin: 0;
}

h4 {
    color: white;
}
