img {
    width: 508px;
    height: 310px;
}

.text-overlay {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8); /* Grey with some transparency */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
    text-align: center;
    color: #fff; /* Text color */
}

.text-overlay p {
    margin: 0;
}

h4 {
    color: white;
}


/* Uncomment this for education timeline chart */
/* .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: lightgray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 1px;
  }

  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid lightgray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent grey;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid lightgray;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right::after {
    left: -16px;
  }

  .content {
    padding: 20px 30px;
    background-color: grey;
    position: relative;
    border-radius: 6px;
  }

@media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }

    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
    left: 15px;
    }

    .right {
    left: 0%;
    }
  } */
