img {
    width: 259px;  /* Previously 508x310 */
    height: 250px;
}

.text-overlay {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.8); /* Grey with some transparency */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust the padding as needed */
    text-align: center;
    color: #fff; /* Text color */
}

.text-overlay p {
    margin: 0;
}

h4 {
    color: white;
    text-transform: none;
}

.image-gallery {
  overflow: auto;
  margin-left: -3% !important;
  padding-bottom: 1rem !important;
  border-top: none !important;
}

.image-gallery a {
  float: left;
  display: block;
  margin: 0 0 1% 1%;
  /* width: 34%; */
  text-align: center;
  text-decoration: none!important;
  border-bottom: none !important;
}

.image-gallery a span {
  /* display: block; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 1px 0;
}

.image-gallery a img {
  width: 200px;
  height: 150px;
  display: block;
  padding-left: 0.5rem !important;
}

.image-gallery-narrow {
  overflow: auto;
  margin-left: -1%!important;
  border-top: none !important;
  padding-top: 1rem !important;
  padding-bottom: 0.1rem !important;
}

.image-gallery-narrow a {
  float: left;
  display: block;
  margin: 0 0 1% 1%;
  /* width: 19%; */
  text-align: center;
  text-decoration: none!important;
  border-bottom: none !important;
}
.image-gallery-narrow a span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0;
}
.image-gallery-narrow a img {
  height: 300px;
  width: 195px;
  display: block;
}

.certifications {
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certification {
  width: calc(25% - 20px); /* 4 certifications per row on larger screens */
  margin-bottom: 20px; /* Add spacing between certificates */
  background-color: #fff; /* Certificate background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for each certificate */
  overflow: hidden; /* Hide overflowing content (title) */
}

.certification a {
  text-decoration: none;
  color: inherit;
  display: block; /* Make the entire certificate clickable */
}

.certification:hover img {
  transform: scale(1.05); /* Add a slight zoom effect on hover */
}

.certification:hover .title {
  transform: translateY(0);
  opacity: 1;
}

.image-wrapper {
  position: relative;
}

.certification img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s ease-in-out;
}

.title {
  background-color: rgba(0, 0, 0, 0.7); /* Background color for title */
  color: #fff; /* Text color for title */
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(0); /* Display title at the bottom */
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

/* Media Query for medium-sized screens */
@media (max-width: 768px) {
  .certification {
    width: calc(50% - 20px); /* 2 certifications per row on medium-sized screens */
  }
}

/* Media Query for smaller screens */
@media (max-width: 576px) {
  .certification {
    width: calc(100% - 20px); /* 1 certification per row on smaller screens */
  }
}

/* Uncomment this for education timeline chart */
/* .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: lightgray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 1px;
  }

  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid lightgray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent grey;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid lightgray;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right::after {
    left: -16px;
  }

  .content {
    padding: 20px 30px;
    background-color: grey;
    position: relative;
    border-radius: 6px;
  }

@media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }

    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }

    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
    left: 15px;
    }

    .right {
    left: 0%;
    }
  } */

/* main footer {
  padding: 20px;
} */